@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');

.App {
  text-align: center;
  font-family: 'Sen', sans-serif;
  font-size: .85em;
}



.App-header {
  background-color: #ffefff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.coverImg {
  height: 120vmin;
  margin-top: 18px;
}

.card {
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 8px 16px -2px #cecece;
  padding: 21px 25px 22px;
  position: relative;
  top: -62px;
}


.btn {
  background-color: #61dafb;
  color: #fff;
  padding: 7px 12px 8px;
  border-radius: 2px;
}

.btnDisabled {
  opacity: 0.35;
}



@media only screen and (min-width: 600px) {
  .coverImg {
    height: 78vmin;
    margin-top: 18px;
  }
}








/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */